<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<%- include('../includes/facebookPixel.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1 class="display-4 font-weight-normal" style="text-align: center;">Toutes nos chaussettes</h1>
        <%- include('product-list.ejs') %>
    </main>

<%- include('../includes/end.ejs') %>